<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.furni.mapper.CartMapper">
	
	<select id="cartall" parameterType="String" resultType="CartDTO">
	SELECT ca.cartno, ca.custid, it.itemname as itemname, it.itemprice as itemprice, 
	it.itemimg as itemimg, ca.cartcnt
	FROM cart ca
	INNER JOIN item it ON ca.itemno= it.itemno
	INNER JOIN cust cu ON ca.custid = cu.custid
	WHERE ca.custid = #{custid}	
	</select>
	
 	<select id="select" parameterType="String" resultType="CartDTO">
		SELECT * FROM cart WHERE custid = #{custid}
	
	</select>	
	
	<insert id="insert" parameterType="CartDTO">
		INSERT INTO cart VALUES (NULL, #{custid}, #{itemno}, #{cartcnt})
	</insert>
	<update id="update" parameterType="CartDTO">
		UPDATE cart SET itemno =#{itemno},cartcnt=#{cartcnt} WHERE custid = #{custid}
	</update>
	<delete id="delete" parameterType="String">
		DELETE FROM cart WHERE custid = #{custid}
	</delete>
	
</mapper>







