<meta charset="utf-8">

<style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 2000px}
 
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 30%;
      padding:70px;
      
    }
    
     #itemimg{
 	height: 100%;
	width: 100%;
 	object-fit: contain;
  
  	}   
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {
      height: auto;
      
      } 
    
    }
    .nav-tabs li a {
    color: #777;
    }
     .navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
    color: #fff !important;
  }
  .navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  .container {
    padding: 80px 120px;
    margin: 100px 200px;
  }
  #info_img{
width: 480px;
height: 400px; 
margin: 0px 0px 50px 0px;  

  }
  
  </style>
  
  <script>
  

  </script>

<body>

<div class="container-fluid">
  <div class="row content">
    <div id="topright1" class="col-sm-6 sidenav">
      
   <img id="itemimg" th:src=" '/img/'+${detail.itemimg}" >
 <!--<img id="itemimg1" th:src=" '/img/'+${itemdetail.imgimg1}" > -->
      
      
    </div>    
    <div id="topright2" class="col-sm-6 sidenav">
      
      <h3 th:text=" 'Cateno : '+${detail.cateno}">cateno</h3>
      <h3 th:text=" 'Itemno : '+${detail.itemno}">itemno</h3>
      <h3 th:text=" 'Item Name : '+${detail.itemname}">itemname</h3>
       <div  th:if="${session.logincust != null}" class="form-group">
  		  <label for="sel1">Item Color:</label>
  			<select class="form-control" id="sm">
    			<option value="1" >베이지</option>
    			<option value="2" >그레이</option>
    			<option value="3" >브라운</option>
            </select>
          <label for="sel1">Item Size:</label>
  			<select class="form-control" id="em">
    			<option value="1" >Q</option>
    			<option value="1" >1500*750*737</option>
    		</select>	
    	  <label for="sel1">Item Cnt:</label>
  			<select class="form-control" id="sm">
    			<option value="1" >1</option>
    			<option value="2" >2</option>
    			<option value="3" >3</option>
    			<option value="4" >4</option>
    			<option value="5" >5</option>
    			<option value="6" >6</option>
    			<option value="7" >7</option>
    			<option value="8" >8</option>
    			<option value="9" >9</option>
    			<option value="10" >10</option>
            </select>	
       </div>
      <h3 th:text=" 'Item Price : '+${detail.itemprice}">price</h3>
      
      
      <button id="order" class="btn btn-default">order</button>
      <button id="withlist" class="btn btn-default">wishlist</button>
      <button id="cart" class="btn btn-default">cart</button>
    </div>

    <div class="col-sm-9">
    
  <!-- Container (Contact Section) -->
<div id="contact" class="container">
  <div class="row"> 
  
  </div>
  <br>
  <h3 class="text-center">THE FURNISHOP</h3>  
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Information</a></li>
    <li><a data-toggle="tab" href="#menu1">Review</a></li>
  
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h2>It's our item</h2>
      <p>Lookaround our amazing stuff :)</p>
        <br>
		<h3 th:text=" 'Cateno : '+${detail.cateno}">cateno</h3>
    	<h3 th:text=" 'Itemno : '+${detail.itemno}">itemno</h3>
    	<h3 th:text=" 'Item Name : '+${detail.itemname}">itemname</h3>
	  <div>
		<div class="col-sm-6">
			<img id="info_img" th:src=" '/img/'+${detail.itemimg}">
			
		</div>
		<div class="col-sm-6">
			<img id="info_img" th:src=" '/img/'+${detail.itemimg1}">
			
		</div>
	  </div>
	  
		<h3 th:text=" 'Item Color : '+${detail.itemcolor}"></h3>
		<h3 th:text=" 'Item Size : '+${detail.itemsize}"></h3>
		<h3 th:text=" 'Item Price : '+${detail.itemprice}"></h3>
		<h3 th:text=" 'Item Stock : '+${detail.itemstock}"></h3>
		<h3 th:text=" 'Item Sell : '+${detail.itemsell}"></h3>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h2>Reviews about our item</h2>
      <p>Write your review :)</p>
    </div>
    
  </div>
  
</div>
  
    
    
    
    

  </div>
</div>


</div>
</body>
